.zoomIn {
  will-change: opacity, transform;

  animation: zoomIn 0.5s both;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(-1000px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}
#main-screen.zoomOut {
  animation: zoomOut 0.5s forwards;
}
@keyframes zoomOut {
  0% {
    opacity: 1;
    transform: scale3d(0.3, 0.3, 0.3) translate3d(0px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: scale3d(0, 0, 0) translate3d(1000px, 0, 0);
    transform-origin: right center;
  }
}
